$breakpoint-xs: 0px; // Extra small devices (phones)
$breakpoint-sm: 576px; // Small devices (tablets)
$breakpoint-md: 768px; // Medium devices (desktops)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)
