* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  color: #f9f7f7;
}
.wrapper .bgImg {
  width: 100vw;
  height: 100vh;
  filter: brightness(80%);
  position: absolute;
  z-index: -1;
}
.wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
}
.wrapper .tab-container {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.wrapper .tab-container .current-tab {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}
.wrapper .tab-container .tab {
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1.75px;
  padding: 5px 8px;
  font-weight: 600;
}
.wrapper .weather-container {
  margin-block: 4rem;
}
.wrapper .weather-container .grant-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.wrapper .weather-container .grant-location img {
  margin-bottom: 2rem;
}
.wrapper .weather-container .grant-location p:first-of-type {
  font-size: 1.75rem;
  font-weight: 700;
}
.wrapper .weather-container .grant-location p:last-of-type {
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  letter-spacing: 0.75px;
}
.wrapper .weather-container .grant-location .btn {
  all: unset;
  font-size: 0.85rem;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #112d4e;
  cursor: pointer;
  padding: 10px 30px;
  margin-bottom: 10px;
}
.wrapper .weather-container .form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  gap: 0 10px;
  margin-bottom: 3rem;
  display: none;
}
.wrapper .weather-container .form-container input {
  all: unset;
  width: calc(100% - 80px);
  height: 40px;
  padding: 0 20px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 1.5rem;
}
.wrapper .weather-container .form-container input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.wrapper .weather-container .form-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.wrapper .weather-container .form-container input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.7);
}
.wrapper .weather-container .form-container .btn {
  padding: unset;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  margin-bottom: 1px;
}
.wrapper .weather-container .loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.wrapper .weather-container .loading-container p {
  text-transform: uppercase;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.wrapper .weather-container .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
}
.wrapper .weather-container .info-container .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 0.5rem;
  margin-bottom: 1rem;
}
.wrapper .weather-container .info-container .name p {
  font-size: 2rem;
}
.wrapper .weather-container .info-container .name img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .weather-container .info-container p {
  font-size: 1.5rem;
  font-weight: 200;
}
.wrapper .weather-container .info-container p[data-temp] {
  font-size: 2.75rem;
  font-weight: 700;
}
.wrapper .weather-container .info-container img {
  width: 90px;
  height: 90px;
}
.wrapper .weather-container .info-container .parameter-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px 20px;
  margin-top: 2rem;
}
.wrapper .weather-container .info-container .parameter-container .parameter {
  width: 30%;
  max-width: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
  position: relative;
}
.wrapper .weather-container .info-container .parameter-container .parameter img {
  width: 120%;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  filter: brightness(95%);
}
.wrapper .weather-container .info-container .parameter-container .parameter p {
  position: absolute;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.wrapper .weather-container .info-container .parameter-container .parameter p:first-of-type {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
  top: 30%;
}
.wrapper .weather-container .info-container .parameter-container .parameter p:last-of-type {
  font-size: 1rem;
  font-weight: 400;
  bottom: 30%;
}
.wrapper .weather-container .active {
  display: flex;
}/*# sourceMappingURL=main.css.map */