@import "mixin";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  color: $text-color2;

  .bgImg {
    width: 100vw;
    height: 100vh;
    filter: brightness(80%);
    position: absolute;
    z-index: -1;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
  }

  .tab-container {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    .current-tab {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 4px;
    }

    .tab {
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: 1.75px;
      padding: 5px 8px;
      font-weight: 600;
    }
  }

  .weather-container {
    margin-block: 4rem;

    .grant-location {
      @include flexalign(column);

      display: none;

      img {
        margin-bottom: 2rem;
      }

      p:first-of-type {
        font-size: 1.75rem;
        font-weight: 700;
      }

      p:last-of-type {
        font-size: 0.85rem;
        font-weight: 600;
        margin-top: 0.75rem;
        margin-bottom: 1.75rem;
        letter-spacing: 0.75px;
      }

      .btn {
        all: unset;
        font-size: 0.85rem;
        text-transform: uppercase;
        border-radius: 5px;
        background-color: $bg-color1;
        cursor: pointer;
        padding: 10px 30px;
        margin-bottom: 10px;
      }
    }

    .form-container {
      @include flexalign(row);
      justify-content: center;
      width: 90%;
      max-width: 550px;
      margin: 0 auto;
      gap: 0 10px;
      margin-bottom: 3rem;

      display: none;

      input {
        all: unset;
        width: calc(100% - 80px);
        height: 40px;
        padding: 0 20px;
        background-color: transparent;
        border-radius: 10px;
        font-size: 1.5rem;

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }

        &:focus {
          outline: 3px solid rgba(255, 255, 255, 0.7);
        }
      }

      .btn {
        padding: unset;
        width: 40px;
        height: 40px;
        @include flexalign(row);
        justify-content: center;
        border-radius: 30%;
        margin-bottom: 1px;
      }
    }

    .loading-container {
      @include flexalign(column);

      display: none;

      p {
        text-transform: uppercase;
        padding-left: 1rem;
        font-size: 1.5rem;
      }
    }

    .info-container {
      @include flexalign(column);
      width: 100%;

      display: none;

      .name {
        @include flexalign(row);
        gap: 0 0.5rem;
        margin-bottom: 1rem;

        p {
          font-size: 2rem;
        }

        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 200;
      }

      p[data-temp] {
        font-size: 2.75rem;
        font-weight: 700;
      }

      img {
        width: 90px;
        height: 90px;
      }

      .parameter-container {
        width: 90%;
        @include flexalign(row);
        justify-content: center;
        gap: 10px 20px;
        margin-top: 2rem;

        .parameter {
          width: 30%;
          max-width: 200px;

          padding: 1rem;
          @include flexalign(column);
          gap: 5px 0;
          position: relative;

          img {
            width: 120%;
            height: 135px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
            filter: brightness(95%);
          }

          p {
            position: absolute;
            text-shadow: 1px 1px 2px rgba(0, 0, 0);
          }

          p:first-of-type {
            font-size: 1.15rem;
            font-weight: 600;
            text-transform: uppercase;
            top: 30%;
          }

          p:last-of-type {
            font-size: 1rem;
            font-weight: 400;
            bottom: 30%;
          }
        }
      }
    }

    .active {
      display: flex;
    }
  }
}
